.App {
  padding: 10px;
}

.App-logo {
  height: 100px;

}

.App-header {
  background-color: rgb(238, 225, 216);
  height: 105px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

label
{
  padding: 5px;
}

button
{
  background-color: #f89829;
  color: white;
  padding: 10px 14px;
  margin: 8px 0;
  border: none;
  font-family: 'Open Sans', sans-serif;
  border-radius: 4px;
}

.button:hover {
  opacity: 0.8;
}

* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.text
{
  padding: 14px 20px;
  margin: 8px 0;
  font-family: 'Open Sans', sans-serif;
  border-radius: 4px;
} 

body{
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  font-size: 20px;
  color: #0078ab;
}


h1 {
  text-align: left;
  font-size: 28px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #f89829;
  background: none;
  margin-top: 0;
  padding-top: 30px;
  padding-bottom: 20px;
  
}
